
  <% for house in @houses%>
  <div class="house_info">

  <img  src = "<%=house.logo%>" alt="<%=house.name%> logo">
  <table>
      <tr>
        <td><%=house.name%></td>
        <td><form action="/houses/<%=house.id%>/" method="get">
            <input type="submit" name="more" value="More Info">
            </form>
          </td>
      </tr>
      <tr>
        <td>Points: <%=house.points%></td>
        <td><form action="/houses/<%= house.id %>/edit/" method="post">
            <input type="number" name="points" id ="points">
            <input type="submit" name="addorremove" value="Add or Remove Points">
            </form>
        </td>
      </tr>
    </table>

  </div>
  <%end%>


<!-- add new house -->
