<div class="table">
<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>House</th>
    <th>Age</th>
    <th></th>
  </tr>
  <% for student in @students %>
  <tr>
    <td><%= student.first_name %></td>
    <td><%= student.last_name %></td>
    <td><%= student.house.name %></td>
    <td><%= student.age %></td>
    <td><form action = "/students/<%=student.id%>/" method="get">
      <input type="submit" name="more" value="More Details">
    </form></td>
  </tr>

  <%end%>
</table>
</div>

<a class = "center" href="/students/new/">Add New Student</a>
